<header>
  <a class="logo" href="/"><img src="/assets/images/site-logo.png" alt="Enriching Early Learning" class="logo-img"></a>
  <nav>
    <a href="/about/">About Us</a>
    <div class="dropdown">
      <a href="/blog/" class="dropdown-toggle">Blog <i class="ti ti-chevron-down" style="font-size:13px;"></i></a>
      <div class="dropdown-menu">
        <a href="/aaliya-life-as-an-educator/">Aaliya's Life as an Educator</a>
        <a href="/cradle-to-crayon-a-journey-of-growth-and-development/">Cradle to Crayon</a>
        <a href="/tanya-and-tanmays-corner-a-fun-filled-exciting-parenting-journey/">Tanya and Tanmay's Corner</a>
      </div>
    </div>
    <a href="/free-resource-room/">Free Resources</a>
    <div class="dropdown">
      <a href="/services/" class="dropdown-toggle">Services <i class="ti ti-chevron-down" style="font-size:13px;"></i></a>
      <div class="dropdown-menu">
        <a href="/the-belonging-hub/">Services for Families: The Belonging Hub</a>
        <a href="/services-for-child-care-centers/">Services for Childcare Centers</a>
      </div>
    </div>
  </nav>
</header>
